#_container_ {
  .sections {
    .title {
      float: left;
      width: 100%;
      font-size: 16px;
      font-weight: bold;
      padding: 0 0 0.2em 0.4em;
      border-bottom: 1px solid #A3A3A3;
    }

    .section {
      float: left;
      width: 100%;
      margin-bottom: 0.2em;

      input {
        float: left;
        margin-right: 0.4em;
        padding: 0 0.5em;
      }

      .state {
        float: left;
        width: 0.5em;
        height: 0.5em;
        background: #FF0000;
      }

      .fulfilled {
        background: #00FF00;
      }

      .tip {
        float: left;
        font-size: 14px;
        font-weight: normal;
        padding: 0 0.5em 0.5em 0;
      }

      .checkboxs {
        float: left;
        width: 100%;

        .position {
          float: left;
          width: 25%;
          margin-top: 0.2em;
        }

        label {
          float: left;
          display: block;
          width: 2.3em;
          text-align: center;
        }

        input {
          float: left;
          font-size: 26px;
          color: #00FF00;
          width: 1em;
          height: 1em;
          margin: 0;
        }
      }
    }

    .radioSection {
      font-size: 12px;

      .radioWrap {
        margin: 0.5em 0;

        input {
          position: relative;
          top: 0.18em;
        }

        div {
          margin-left: 1.6em;
        }
      }
    }

    #_price_ {
      font-size: 14px;

      div {
        margin: 0.2em 0 0 0;
      }

      .red {
        color: #f35531;
        font-weight: bold;
      }
    }
  }
}
