#_panel_ {
  position: absolute;
  display: block;
  top: 0.5em;
  left: 0.5em;
  background: #31B0D5;
  border: 2px solid #31B0D5;
  font-size: 20px;
  font-weight: bold;
  font-family: "microsoft yahei";
  z-index: 2147483647;

  label {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 0;
  }

  .selected {
    color: #3AAD8B
  }

  #_trigger_ {
    width: 100%;
    cursor: move;
    padding: 0.3em 0;
    color: #FFF;
    font-size: 0.8em;
    line-height: 120%;
    text-align: center;
  }

  #_container_ {
    position: relative;
    float: left;
    background: #F8F8F8;
    font-weight: normal;
    width: 16em;
    padding: 0.5em 0 0 0.5em;

    .goodsRoot {
      float: left;
      width: 100%;
      font-size: 14px;
      margin-bottom: 0.5em;

      .tip {
        float: left;
        width: 100%;
        color: #aaa;
        line-height: 150%;
        font-weight: normal;
        padding: 0 0.5em 0.2em 0;
      }

      .section {
        float: left;
        width: 100%;
        margin-bottom: 0.2em;

        .title {
          float: left;
          width: 25%;
          font-weight: bold;
          line-height: 175%;
        }

        .specs {
          float: left;
          width: 75%;
          margin-bottom: 0.2em;

          .spec {
            float: left;
            margin-right: 0.4em;

            input {
              position: relative;
              top: 0.1em;
              margin-right: 0.4em;
            }

            label {
              margin: 0;
              word-break: break-all;
              word-wrap: break-word;
            }
          }
        }
      }

      .purchaseSection, .add2MyCartSection, .showMyCartSection {
        width: auto;
        margin: 0 1em 0 0;
        padding: 0.5em 0 0 0;

        input[type='button'] {
          width: 6.5em;
          height: 2.5em;
          padding: 0 0.4em;
        }
      }

      .showMyCartSection {
        margin: 0;
      }
    }

    .cartRoot {
      float: left;
      width: 100%;
      margin-bottom: 0.5em;

      .notes {
        font-size: 13px;
        width: 95%;
        overflow: hidden;

        .title {
          float: left;
          width: 95%;
          font-size: 15px;
          font-weight: bold;
          padding: 0 0 0.2em 0.4em;
          margin-bottom: 0.2em;
          border-bottom: 2px solid #31B0D5;
        }

        .note {
          float: left;
          width: 100%;
          margin-bottom: 0.2em;

          .sequence {
            font-weight: bold;
          }

          .success {
            color: #3AAD8B;
            padding: 0 0 0 0.5em;
          }

          .failed {
            color: #FF0000;
            padding: 0 0 0 0.5em;
          }
        }
      }

      .shops {
        font-size: 13px;
        width: 95%;
        overflow: hidden;

        .title {
          float: left;
          width: 95%;
          font-size: 15px;
          font-weight: bold;
          padding: 0 0 0.2em 0.4em;
          margin-bottom: 0.2em;
          border-bottom: 2px solid #31B0D5;
        }

        .emptycart {
          float: left;
          width: 100%;
          text-align: center;
          font-size: 16px;
          color: #FF0000;
        }

        .shopsList {
          float: left;
          width: 100%;
          overflow: hidden;

          .shop {
            float: left;
            width: 100%;

            input {
              position: relative;
              top: 0.15em
            }

            label {
              width: 90%;
              margin-left: 0.5em;
            }

            .goodsList {
              float: left;
              display: none;
              width: 100%;

              .good {
                padding: 0.2em 0;
                margin: 0.2em 0 0.2em 1.6em;

                .goodTiltle {
                  color: #555;
                  cursor: pointer;
                  &:hover {
                    color: #3AAD8B;
                  }
                }

                div {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }

                .moreInfos {
                  color: #555;
                  padding: 0.5em 0 0.5em 1.7em;
                  border-bottom: 1px solid #aaa;

                  em {
                    font-weight: bold;
                    font-style: normal;
                    color: #3AAD8B;
                  }
                }
              }
            }

            .shopTotal {
              float: left;
              font-weight: bold;
              margin: 0 0 0 1.5em;
            }
          }

          .selected .goodsList {
            display: block;
          }
        }
      }

      .settlement {
        margin: 0.5em 0 0 0;

        input[type='button'] {
          width: 6.5em;
          height: 2.5em;
          padding: 0 0.4em;
        }

        .settleTotal {
          margin: 0 0 0 1em;
          font-size: 14px;
          font-weight: bold;

          span {
            color: #3AAD8B;
          }
        }
      }
    }

    .orderRoot {
      float: left;
      width: 100%;
      font-size: 14px;
      margin-bottom: 0.2em;

      .section {
        float: left;
        width: 100%;
        margin-bottom: 0.4em;

        .title {
          float: left;
          width: 95%;
          font-size: 15px;
          font-weight: bold;
          padding: 0 0 0.2em 0.4em;
          margin-bottom: 0.2em;
          border-bottom: 2px solid #31B0D5;
        }

        input, select {
          float: left;
          font-size: 14px;
          margin-right: 0.4em;
        }

        input[type='button'] {
          width: 7em;
          height: 34px;
          padding: 0 1em;
        }

        .state {
          float: left;
          position: relative;
          font-size: 16px;
          top: 0.5em;
          width: 1em;
          height: 1em;
          border-radius: 0.5em;
          background: #FF0000;
        }

        .fulfilled {
          background: #3AAD8B;
        }

        .tip {
          float: left;
          font-size: 14px;
          line-height: 170%;
          font-weight: normal;
          padding: 0 0.5em 0 0;
        }

        .checkboxs {
          float: left;
          font-size: 18px;
          width: 100%;

          .position {
            float: left;
            width: 25%;
            margin-top: 0.2em;
          }

          label {
            float: left;
            display: block;
            width: 2.3em;
            text-align: center;
          }

          input {
            float: left;
            font-size: 26px;
            width: 1em;
            height: 1em;
            margin: 0;
          }
        }
      }

      .addressSection, .fareSection {
        font-size: 12px;

        .radioWrap {
          float: left;
          width: 100%;
          margin: 0 0 0.2em 0;

          input {
            position: relative;
            top: -0.1em;
          }

          label {
            width: 90%;

            div {
              margin-bottom: 0.2em;
            }
          }
        }
      }

      .shopsfareSection {
        float: left;
        width: 100%;
        overflow: hidden;

        .shopsfareList {
          float: left;
          width: 95%;

          .shopfare {
            padding-bottom: 0.6em;

            .shopName {
              width: 70%;
              margin: 0 0 0 1em;
              border-bottom: 1px solid #aaa;
              padding: 0 0 0.2em 0;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;

              &:hover {
                color: #3AAD8B;
              }
            }

            .goodsBill {
              padding-left: 0.5em;

              .good {
                padding: 0.2em 0;

                .goodTiltle {
                  cursor: pointer;
                  &:hover {
                    color: #3AAD8B;
                  }
                }

                div {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }

                .moreInfos {
                  color: #555;
                  padding: 0.5em 0 0.5em 1.7em;
                  border-bottom: 1px solid #aaa;

                  em {
                    font-weight: bold;
                    font-style: normal;
                    color: #3AAD8B;
                  }
                }
              }
            }

            .fares {
              height: 1.4em;

              input {
                float: left;
                margin-right: 0.2em;
              }

              label {
                float: left;
                margin-right: 0.4em;
              }
            }

            .subtotal {
              width: 100%;
              height: 1.6em;
              text-overflow: ellipsis;
              white-space: nowrap;

              .original, .fare, .withFare {
                display: inline-block;
                line-height: 200%;
                width: 35%;
                height: 100%;
                padding: 0;

                em {
                  font-weight: bold;
                  font-style: normal;
                  color: #3AAD8B;
                }
              }

              .fare {
                width: 30%;
              }
            }
          }
        }
      }

      .detailSection {
        font-size: 14px;

        .details {
          float: left;
          width: 95%;

          div {
            margin: 0.2em 0 0 0;
          }

          .content {
            color: #3AAD8B;
            font-weight: bold;
          }

          .original, .fare, .withFare {
            display: inline-block;
            line-height: 200%;
            width: 35%;
            height: 100%;
            padding: 0;

            em {
              font-weight: bold;
              font-style: normal;
              color: #3AAD8B;
            }
          }

          .fare {
            width: 30%;
          }
        }
      }

      .recordsSection {
        font-size: 13px;
        width: 95%;
        overflow: hidden;

        .title {
          width: 100%;
        }

        .record {
          float: left;
          width: 49%;
          background: #eee;
          padding: 0 0 2% 0;
          margin: 0 2% 2% 0;

          .sequence {
            font-weight: bold;
            margin: 0 0 0.3em 0;
          }

          .success {
            color: #3AAD8B;
            padding: 0 0 0 1em;
          }

          .failed {
            color: #FF0000;
            padding: 0 0 0 1em;
          }
        }

        .record:nth-child(2n+1) {
          margin-right: 0;
        }
      }

      .orderInfoSection, .errorInfoSection {
        font-size: 14px;
        margin-bottom: 0;

        .info {
          float: left;
          width: 95%;
          padding: 0;

          .infotitle {
            width: 100%;
            font-size: 16px;
          }

          .orederNumber, .total {
            width: 100%;
            color: #3AAD8B;
            font-weight: bold;
            margin: 0.3em 0 0 0;
            padding: 0 0 0 0.5em;
          }

          .err {
            color: #FF0000;
          }
        }
      }
    }
  }
}

#_rush_panel_ {
  position: absolute;
  display: block;
  top: 0.5em;
  left: 18em;
  background: #31B0D5;
  border: 2px solid #31B0D5;
  font-size: 20px;
  font-weight: bold;
  font-family: "microsoft yahei";
  z-index: 2147483647;

  #_rush_trigger_ {
    width: 100%;
    cursor: move;
    padding: 0.3em 0;
    color: #FFF;
    font-size: 0.8em;
    line-height: 120%;
    text-align: center;
  }

  #_rush_container_ {
    position: relative;
    float: left;
    background: #F8F8F8;
    font-weight: normal;
    width: 16em;
    padding: 0.5em 0 0 0.5em;

    .presetRoot {
      float: left;
      width: 100%;
      font-size: 14px;
      margin-bottom: 0.2em;

      .section {
        float: left;
        width: 100%;
        margin-bottom: 0.4em;

        .title {
          float: left;
          width: 95%;
          font-size: 15px;
          font-weight: bold;
          padding: 0 0 0.2em 0.4em;
          margin-bottom: 0.2em;
          border-bottom: 2px solid #31B0D5;
        }

        input, select {
          float: left;
          font-size: 14px;
          margin-right: 0.4em;
        }

        input[type='button'] {
          width: 7em;
          height: 34px;
          padding: 0 1em;
        }

        .state {
          float: left;
          position: relative;
          font-size: 16px;
          top: 0.5em;
          width: 1em;
          height: 1em;
          border-radius: 0.5em;
          background: #FF0000;
        }

        .fulfilled {
          background: #3AAD8B;
        }
      }
    }
  }
}