@import "./cmp.1.panel/default";
@import "./cmp.1.panel/panel";
@import "./cmp.2.base/base";
@import "./cmp.3.cart/cart";
@import "./cmp.4.rush/rush";

#_panel_ #_container_ {
  .baseSettleRoot, .cartSettleRoot {
    float: left;
    width: 98%;
    font-size: 14px;
    margin: 0 0 0.5em 2%;

    .section {
      float: left;
      width: 100%;
      margin-bottom: 0.4em;

      .title {
        float: left;
        width: 95%;
        font-size: 15px;
        font-weight: bold;
        padding: 0 0 0.2em 0.4em;
        margin-bottom: 0.2em;
        border-bottom: 2px solid #31B0D5;
      }

      input, select {
        float: left;
        font-size: 14px;
        margin-right: 0.4em;
      }

      input[type='button'] {
        width: 7em;
        height: 34px;
        padding: 0 1em;
      }

      .state {
        float: left;
        position: relative;
        font-size: 16px;
        top: 0.5em;
        width: 1em;
        height: 1em;
        border-radius: 0.5em;
        background: #FF0000;
      }

      .fulfilled {
        background: #3AAD8B;
      }

      .tip {
        float: left;
        font-size: 14px;
        line-height: 170%;
        font-weight: normal;
        padding: 0 0.5em 0 0;
      }

      .checkboxs {
        float: left;
        font-size: 18px;
        width: 293px;

        .position {
          float: left;
          width: 25%;
          margin-top: 0.2em;
        }

        label {
          float: left;
          display: block;
          width: 2.3em;
          text-align: center;
        }

        input {
          float: left;
          font-size: 26px;
          width: 1em;
          height: 1em;
          margin: 0;
        }
      }
    }

    .addressSection, .fareSection {
      font-size: 12px;

      .radioWrap {
        float: left;
        width: 100%;
        margin: 0 0 0.2em 0;

        input {
          position: relative;
          top: -0.1em;
        }

        label {
          width: 90%;

          div {
            margin-bottom: 0.2em;
          }
        }
      }
    }

    .shopsfareSection {
      float: left;
      width: 100%;
      overflow: hidden;

      .shopsfareList {
        float: left;
        width: 95%;

        .shopfare {
          padding-bottom: 0.6em;

          .shopName {
            width: 70%;
            margin: 0 0 0 1em;
            border-bottom: 1px solid #aaa;
            padding: 0 0 0.2em 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {
              color: #3AAD8B;
            }
          }

          .goodsBill {
            padding-left: 0.5em;

            .good {
              padding: 0.2em 0;

              .goodTiltle {
                cursor: pointer;
                &:hover {
                  color: #3AAD8B;
                }
              }

              div {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              .moreInfos {
                color: #555;
                padding: 0.5em 0 0.5em 1.7em;
                border-bottom: 1px solid #aaa;

                em {
                  font-weight: bold;
                  font-style: normal;
                  color: #3AAD8B;
                }
              }
            }
          }

          .fares {
            height: 1.4em;

            input {
              float: left;
              margin-right: 0.2em;
            }

            label {
              float: left;
              margin-right: 0.4em;
            }
          }

          .subtotal {
            width: 100%;
            height: 1.6em;
            text-overflow: ellipsis;
            white-space: nowrap;

            .original, .fare, .withFare {
              display: inline-block;
              line-height: 200%;
              width: 35%;
              height: 100%;
              padding: 0;

              em {
                font-weight: bold;
                font-style: normal;
                color: #3AAD8B;
              }
            }

            .fare {
              width: 30%;
            }
          }
        }
      }
    }

    .detailSection {
      font-size: 14px;

      .details {
        float: left;
        width: 95%;

        div {
          margin: 0.2em 0 0 0;
        }

        .content {
          color: #3AAD8B;
          font-weight: bold;
        }

        .original, .fare, .withFare {
          display: inline-block;
          line-height: 200%;
          width: 35%;
          height: 100%;
          padding: 0;

          em {
            font-weight: bold;
            font-style: normal;
            color: #3AAD8B;
          }
        }

        .fare {
          width: 30%;
        }
      }
    }

    .recordsSection {
      font-size: 13px;
      width: 95%;
      overflow: hidden;

      .title {
        width: 100%;
      }

      .record {
        float: left;
        width: 49%;
        background: #eee;
        padding: 0 0 2% 0;
        margin: 0 2% 2% 0;

        .sequence {
          font-weight: bold;
          margin: 0 0 0.3em 0;
        }

        .success {
          color: #3AAD8B;
          padding: 0 0 0 1em;
        }

        .failed {
          color: #FF0000;
          padding: 0 0 0 1em;
        }
      }

      .record:nth-child(2n+1) {
        margin-right: 0;
      }
    }

    .orderInfoSection, .errorInfoSection {
      font-size: 14px;
      margin-bottom: 0;

      .info {
        float: left;
        width: 95%;
        padding: 0;

        .infotitle {
          width: 100%;
          font-size: 16px;
        }

        .orederNumber, .total {
          width: 100%;
          color: #3AAD8B;
          font-weight: bold;
          margin: 0.3em 0 0 0;
          padding: 0 0 0 0.5em;
        }

        .err {
          color: #FF0000;
        }
      }
    }
  }
}